* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	background: #eee;
	color: #222;
	width: 100vw;
	height: 100vh;
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; */
	margin: 1rem;
}

a {
	font-size: 1.75rem;
	color: #ccc;
	font-weight: 700;
}
